html,body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  border: 0;
  font-size: 16px;
  color: #2B2D35;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

/* clearfix */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*複数セレクタを選択*/
.main {
  width: 100%;
  margin: 0 auto;
}

.top-banner {
  background-position: center;
  min-height: 547px;
  background-image: url(../images/top-banner_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -8px;
}

.banner-content {
  width: 940px;
  margin: 0 auto;
  padding-top: 123px;
}

.form-container {
  height: 100%;
}

.logo {
  width: 300px;
  float: left;
}

.search-form {
  padding-top: 100px;
  float: left;
}

.main-search-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 66px;
  color: white;
}

.form-body {
  display: flex;
  justify-content: center;
}

.form-input {
  padding: 8px 15px 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #00386C;
  border: 1px solid #E4EDF5;
  border-radius: 4px 0 0 4px;
  background: #fff;
  min-width: 400px;
}

.form-button {
  padding: 10px 25px 12px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  background-color: #41489B;
  cursor: pointer;
}

.feature {
  width: 100%;
  height: 435px;
  background-color: #F6F7FA;
}

.feature-link-cell {
  height: 100%;
  width: 100%;
  text-align: center;
}

.feature li {
  display: inline-block;
  height: 100%;
  width: 20%;
  padding: 0 30px;
  float: left;
}

.feature li:first-child {
  background-color: #E7E7FE;
}

.feature li:nth-child(2) {
  background-color: #D5D7F3;
}

.feature li:nth-child(3) {
  background-color: #E7E7FE;
}

.feature li:last-child {
  background-color: #D5D7F3;
}

.feature-link-cell li  h4 {
  padding: 120px 0;
}

.feature-link-cell li p {
  line-height: 2.3;
  border-radius: 10px;
  color: white;
  background-color: #42489C;
}

.feature-link-cell li p:hover {
  font-weight: bold;
  text-decoration: none;
  color: #42489C;
  background-color: #ffffff;
}

.feature-link-cell .feature-btn {
  display: block;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  width: 100%;
}

.menu li {
  display: inline-block;
  float: left;
  width: 7.69%;
}

.menu a.global-menu-btn {
  display: block;
  padding: 20px 30px;
  text-align: center;
  color: white;
  background-color: #17223A;
  text-decoration: none;
}

/* Change the link color on hover */

.menu a:hover {
  color: #426484;
}

.company-list {
  background-color: #F8F8FB;
}

.company-list-container {
  margin: 0 auto;
  padding: 8.9% 14.8%;
  margin-right: 0;
  width: 100%;
}

.company-list__filters {
  width: 18.45%;
  float: left;
  margin-right: 0.59%;
}

.sort-box {
  position: relative;
}

.sort-list {
  height: 50px;
  width: 100%;
  padding-left: 5%;
  font-size: 1.1em;
  border: solid 1px #888888;
  border-radius: 5px;
  background-color: #ffffff;
}

.sort-box .fa-angle-down {
  position: absolute;
  color: #888;
  right: 16px;
  top: 18%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.detail-filters {
  margin-top: 40px;
  padding: 20px;
  color: #2c2d30;
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.detail-filters h1 {
  font-size: 1.45em;
  padding-bottom: 40px;
}

.detail-filters h2 {
  padding-bottom: 5px;
  font-size: 1.125em;
  font-weight: normal;
}

.detail-filters__keywords-box {
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #888888;
  border-radius: 5px;
  margin-bottom: 40px;
}

.detail-filters__working-conditions ul {
  padding-bottom: 5px;
  font-size: 1.125em;
}

.detail-filters__working-conditions p.working-conditions {
  padding-bottom: 5%;
}

.detail-filters__working-conditions label {
  display: inline-block;
  vertical-align: top;
  font-size: 1.125em;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: block;
  margin: 2px 7px 0 0;
}

.check-box input, .check-box p {
  float: left;
  padding-bottom: 15px;
}

.company-list__companies {
  width: 51.19%;
  float: left;
}

.company-list__main-title {
  color: #41489B;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.company__main-title-bar {
  margin-top: 43px;
  letter-spacing: 0.2em;
  padding: 5px 20px;
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.5;
  background-color: #41489A;
}

.company__main-title-bar h2 {
  padding-left: 20px;
  display: inline-block; 
}

.company__main-content-box {
  padding: 20px;
  background-color: #ffffff;
}

.company__main-info-box {
  width: calc(100% - 207px);
  float: left;
}

.company__main-content-sub-box {
}

.company__main-title-bar p:nth-child(2) {
  padding-left: 20px;
}

.company__logo {
  float: left;
  margin-right: 20px;
}

.company__rating .rating-score {
  float: left;
  padding-right: 5px;
}

.company__rating {
  font-size: 1.3em;
}

.company__rating .fa {
  float: left;
  line-height: 1.3;
}

.company__description h4 {
  font-size: 1.3em;
}

.company__description p {
  font-size: 1.1em;
  line-height: 1.1;
}

.company__description a.linkColor {
  display: inline-block;
  color: #41489A;
  margin-top: 7px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
  /*padding: .3em 1em .33em;
  border-radius: 5px;
  background-color: #D5D7F3;*/
}

.company__description a {
}

.company__feature-list {
  padding-top: 15px;
  padding-bottom: 10px;
}

.company__feature {
  float: left;
}

.company__feature .fa {
  float: left;
  padding-right: 15px;
}

.company__feature p {
  float: left;
  line-height: 30px;
  padding-right: 1.1rem;
}

.company__feature-list--sub {
  display: inline-block; 
  padding: 20px;
  background-color: #E8E9FD;
}

.company__feature--sub {
  float: left;
  width: 33.3%;
  line-height: 1.9;
  /*  padding-top: 10px; */
}

.company__feature--sub .fa {
  float: left;
  padding-right: 10px;
  line-height: 1.9;
}

.company__feature--sub p{
  float: left;
}

.employees-status, 
.company-size,
.salary {
  height: 50px;
  width: 100%;
  padding-left: 5%;
  margin-top: 20px;
  font-size: 1.1em;
  border: solid 1px #888888;
  border-radius: 5px;
  background-color: #ffffff;
}

.detail-filters__employees-status,
.detail-filters__company-size,
.detail-filters__salary {
  position: relative;
  margin-bottom: 6%;
}

.detail-filters__employees-status .fa-angle-down,
.detail-filters__company-size .fa-angle-down,
.detail-filters__salary .fa-angle-down {
  position: absolute;
  right: 5%;
  color: #888;
  top: 43%;
}

.detail-filters__location {
  font-size: 1.125em;
}

.detail-filters__location p.location {
  padding-top: 15%;
  padding-bottom: 5%;
  font-size: 1.125em;
}

.detail-filters__reset-submit-btn {
  font-size: 0.9em;
}

.link-location {
  display: inline-block;
  margin-bottom: 50px;
  color: #41489A;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
}

.detail-filters__reset-submit-btn {
}

.btn-reset {
  float: left;
  padding-right: 10px;
  margin-right: 10%;
  line-height: 3;
  color: #ffffff;
  border: 1px solid #aaa;
  width: 45%;
  background: #aaa;
  cursor: pointer;
}

.btn-submit {
  float: left;
  line-height: 3;
  color: #ffffff;
  border: 1px solid #41489B;
  width: 45%;
  background: #41489B;;
  cursor: pointer;
}

.feature-link-cell__list {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
