html,body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  color: #2B2D35;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* clearfix */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.top-banner {
  background-position: center;
  min-height: 547px;
  background-image: url(../images/top-banner_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -8px;
}

.banner-content {
  width: 940px;
  margin: 0 auto;
  padding-top: 123px;
}

.form-container {
  height: 100%;
}

.logo {
  width: 300px;
  float: left;
}

.search-form {
  padding-top: 100px;
  float: left;
}

.main-search-text {
  font-size: 40px;
  font-weight: 600;
  line-height: 66px;
  color: white;
}

.form-body {
  display: flex;
  justify-content: center;
}

.form-input {
  padding: 8px 15px 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #00386C;
  border: 1px solid #E4EDF5;
  border-radius: 4px 0 0 4px;
  background: #fff;
  min-width: 400px;
}

.form-button {
  padding: 10px 25px 12px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  background-color: #41489B;
  cursor: pointer;
}

.feature {
  width: 100%;
  background-color: #F6F7FA;
}

.feature-link-cell {
  width: 90%;
  text-align: center;
  padding: 0 10%;
}

.feature li {
  display: inline-block;
  width: 17%;
  padding: 125px 30px 90px 30px;
  float: left;
}

.feature li:first-child {
  background-color: #E7E7FE;
}

.feature li:nth-child(2) {
  background-color: #D5D7F3;
}

.feature li:nth-child(3) {
  background-color: #E7E7FE;
}

.feature li:last-child {
  background-color: #D5D7F3;
}

.feature-link-cell li  h4 {
  padding-bottom: 160px;
}

.feature-link-cell li p {
  line-height: 2.3;
  border-radius: 10px;
  color: white;
  background-color: #42489C;
}

.feature-link-cell li p:hover {
  font-weight: bold;
  text-decoration: none;
  color: #42489C;
  background-color: #ffffff;
}

.feature-link-cell .feature-btn {
  display: block;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  width: 100%;
}

.menu li {
  display: inline-block;
  float: left;
  width: 7.69%;
}

.menu a.global-menu-btn {
  display: block;
  padding: 20px 30px;
  text-align: center;
  color: white;
  background-color: #17223A;
  text-decoration: none;
}

/* Change the link color on hover */

.menu a:hover {
  color: #426484;
}

.company-list {
  padding: 150px 250px;
  width: 1680px;
  background-color: #F8F8FB;
}

.company-list__filters {
  width: 18.45%;
  float: left;
  margin-right: 0.59%;
}

.sort-box {
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #888888;
  border-radius: 5px;
}

.detail-filters {
  height: 1400px;
  margin-top: 40px;
  background-color: white;
}

.company-list__companies {
  width: 51.19%;
  float: left;
  display: inline-block;
}

.company-list__main-title {
  color: #41489B;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.company__main-title-bar {
  height: 40px;
  margin-top: 43px;
  padding-left: 20px;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 40px;
  color: #ffffff;
  background-color: #41489A;
}

.company__main-content-box {
  padding: 20px;
  background-color: #ffffff;
}

.company__main-title-bar .company-name {
  padding-left: 20px;
  display: inline-block; 
}

.company__main-title-bar .number {
  display: inline-block;
}

.company__logo {
  float: left;
  margin-right: 20px;
}

.company__rating {
}

.company__description {
  margin-top: 20px;
}

.company__feature-list {
  padding-top: 55px;
}

.company__feature--salary .fa {
  float: left;
  padding-right: 15px;
}

.comppany__feature--salary .salary {
  float: left;
  line-height: 25px;
  display: inline-block;
}
